---
import type { CollectionEntry } from 'astro:content';
import { slugify } from '../utils/utils';
import { Image } from 'astro:assets';
export interface Props {
    illustration: CollectionEntry<"illustrations">
}

const { illustration } = Astro.props as Props; 
---

<div id="art-card">

        <a target="_blank" href=`/art/${illustration.data.filename}` class="art-image-link">
            <Image
                src={illustration.data.image}
                alt={illustration.data.title}
                class="image-thumbnail"
            />
        </a>
  
    <p class="image-title">{illustration.data.title}</p>
    <p class="image-year">{illustration.data.year}</p>

</div>

<style>
    #art-card {
        background-color: var(--background-secondary-color);
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        gap: 0.4rem; 

        border-radius: 4px;
    }

    .art-image-link {
        /* either set a fixed pixel height and a width of 100%, OR set max-width to 100% and aspect-ratio to 1. not exactly sure why the second option works, but the aspect ratio and max-width combo makes perfect square tiles.*/
        aspect-ratio: 1;
        max-width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-thumbnail {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        object-position: center;
    }

    #art-card p {
        margin: 0; 
    }
</style>