---
import slugify from '../utils/utils';
export interface Props {
    title: string,
    date: Date; 
    category: string;
    slug: string
}

const { title, date, category, slug } = Astro.props as Props; 
---

<div class="post-link-container">
    <a class="post-link" href=`/blog/${slug}`>
        <h3 class=post-link-title>{title}</h3>   
        <time class="post-link-date">{date.toLocaleDateString()}</time>                     
    </a>


    <div class="post-link-category">
        <a class="category-link" href=`/blog/category/${slugify(category)}`>{category}</a>
    </div>

<style>
    a.post-link {
        text-decoration: none;
        color: var(--font-color);
    }

    a.post-link:hover h3 {
        text-decoration: underline;
    }

    .post-link h3 {
        font-weight: normal;
        margin: 0;
        font-size: 1.1rem;
        font-weight: 600;
    }


    .post-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .post-link-category a {
        margin: 0; 
        font-size: .9rem;
    }

    @media (max-width: 700px) {
        .post-link {
            flex-direction: column;
            justify-content: flex-start; 
            align-items: stretch;
        }
    }
</style>